@import "tailwindcss";

@theme {

    --font-sigmar: "Sigmar", "sans-serif";
    --color-mint-500: oklch(0.72 0.11 178);
    --color-white: #fff;
    --color-purple: #3f3cbb;
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --breakpoint-*: initial;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1020px;
    --breakpoint-xl: 1180px;

}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}
  
    @layer base {
        a{
            display: block
        }
    }
    @layer components {
        .btn {
            @apply bg-white  text-black font-bold py-2 px-8  lg:py-5 lg:px-[50px] rounded-full;
        }
        .card {
            @apply bg-slate-700 border-pink-900 w-96 h-60 border-4 p-10 mx-auto mt-10 text-center 
        }

        .play-btn{
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation:  animate 3s linear infinite;
        }
        .play-btn span img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        @keyframes  animate{
            0%{
                box-shadow: 0 0 0 0 rgba(255, 250, 248, 0.7),  0 0 0 0 rgba(255, 249, 247, 0.7);
            }
            40%{
                box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(255, 255, 255, 0.7);
            }
            80%{
                box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
            }
            100%{
                box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
            }
        }

    .menu ul li a{
        border-radius: 10px;
        padding: 8px 20px;
        transition: 0.2s linear;
    }
    .menu ul li a:hover{
        border-bottom: 4px solid white;
        border-radius: 10px;
        padding: 8px 20px;
    }
    }
    @layer utilities {
        .text-2xl{
            font-size: 50px;
        }
        /* .container {
            margin-inline: auto;
            padding-inline: 2rem;
        } */
    }
